# Choose one backend in the app UI: MongoDB Atlas or Appwrite

# -------------------------------
# MongoDB Atlas settings
# -------------------------------
MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=streamlit_forms
MONGODB_COLLECTION_NAME=user_submissions

# -------------------------------
# Appwrite settings
# -------------------------------
APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your_project_id
APPWRITE_API_KEY=your_api_key
APPWRITE_DATABASE_ID=your_database_id
APPWRITE_COLLECTION_ID=your_collection_id
